{% extends 'base.html' %}

{% block content %}

    <div class="card mx-2 my-2">
        <div class="card-body bg-info">
            <h3 class="text-center mt-2 mb-3">Create Exam</h3>
        </div>
    </div>

    <form action="{% url 'create_exam' %}" method="POST">
        {% csrf_token %}

        <div class="d-flex bd-highlight">
            <div class="card bg-warning mx-2 my-2  p-2 flex-fill flex-grow-1 bd-highlight w-50">

                <div class="card-title">
                    <label for="course" class="h4 text-center">Course</label>
                </div>
                <div class="card-body">
                    <select name="course" id="course" class="btn btn-lg border bg-light">
                        {% for course_id, course_code in course_dict.items %}
                            <option value="{{ course_id }}">{{ course_code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    
            <div class="card bg-danger mx-2 my-2 p-2 flex-fill flex-grow-1 bd-highlight w-50">
                <div class="card-title">
                    <label for="marks" class="h4">Marks</label>
                </div>
                <div class="card-body bg-danger">
                    <select name="marks" id="marks" class="btn btn-lg border bg-light">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
        </div>


        </table>
        <button type="submit" value="Submit" class="btn btn-lg btn-info float-right mx-2 my-2">Start Quiz</button>
    </form>


{% endblock content %}



