{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login Form</legend>
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Log In</button>
        </fieldset>
    </form>
    <div>
        <p>Forgot Password? Recover <a href="">here</a></p>
        <p>Need an Account? Register <a href="{% url 'register_choice' %}">here</a></p>
    </div>
{% endblock content %}